.bigChartBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    h1 {
        font-size: 1.3rem;
    }

    .chart {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }   
}