.barChartBox {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.2rem;

    h1 {
        font-size: 1.3rem;
    }

    .chart{
        height: 10rem;
    }
}